---
layout: default
title: Home
---

<h1 class="maxwidth"><b>Recent Posts</b></h1><hr>

<div class="posts maxwidth">
  {% for post in paginator.posts %}
  <a href="{{ site.baseurl }}{{ post.url }}" style="color: inherit;">
    <div class="post">
      {% if post.thumbnail %}
      <img class="thumbnail" src="{{ site.baseurl }}{{ post.thumbnail }}">
      {% endif %}
      <h1 class="post-title">
          {{ post.title }}
      </h1>

      <span class="post-date">{{ post.date | date_to_string }}</span>

      {% if post.description %}
        <p style="font-style: italic;">{{ post.description }}</p>
      {% else %}
        {{ post.excerpt }}
      {% endif %}
    </div>
  </a>
  <hr/>
  {% endfor %}
</div>

<div class="pagination maxwidth" style="margin-left: auto; margin-right: auto;">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

