---
layout: default
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>
<div class="related">
  <p class="bio"><a href="https://nick-xie.github.io/#">Nick Xie</a> is a student based around Ontario, Canada who writes to make sense of his internal deliberations as he navigates life.</p>
  <br>
  <h2>Tagged Categories</h2>
  <ul>
    {% for category in page.categories %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}/category/{{ category }}">
            {{ category }}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <!-- <h2>Recent Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul> -->
</div>
